@page
@model DetailModel

@using Amphora.Common.Extensions
@using Amphora.Common.Models.Options
@using Microsoft.Extensions.Options

@inject IOptionsMonitor<ExternalServices> externalServices


@{
    ViewData["Title"] = Model.AppUser.ContactInformation?.FullName;
    var editProfileUrl = $"{externalServices.CurrentValue?.IdentityUri().ToStandardString()}/Account/Edit";
    var manageProfileUrl = $"{externalServices.CurrentValue?.IdentityUri().ToStandardString()}/Account/Manage";
    var profileImgSrc = @Model.AppUser?.ContactInformation?.Email?.GetProfilePictureUri()?.ToString();
}

<div id="main" class="container">
    <div class="row">
        <div class="col-md-4">
            <div id="user-info-card" class="card mb-3">
                <div class="card-body">
                    <div class="text-center mb-3">
                        @if(profileImgSrc != null)
                        {
                            <img class="img-fluid" src="@Model.AppUser?.ContactInformation?.Email?.GetProfilePictureUri()?.ToString()?s=180" />
                        }
                        else
                        {
                            <i class="far fa-user fa-10x"></i>
                        }
                    </div>
                    @if(@Model.IsSelf)
                    {
                        <a href="@manageProfileUrl" class="float-right"><i class="fas fa-cog"></i></a>
                    }
                    <div class="w-100"><strong>@Model.AppUser?.ContactInformation?.FullName</strong></div>
                    <div class="w-100 mb-2"><small>@Model.AppUser.UserName </small></div>

                    <span><button style="width: 100%;" class="btn btn-light mb-3 mx-auto">Follow</button></span>
                    <span style="white-space: pre-line">@Model.AppUser.About</span>
                    <p><i class="fas fa-user-friends mr-1"></i>
                        <a asp-area="Organisations" asp-page="/Detail" asp-route-id="@Model.AppUser.OrganisationId">
                            @Model.AppUser.Organisation?.Name 
                        </a>
                    </p>                   
                </div>
            </div>
        </div>
        <div class="col-md-8">
           <div>
               @if(Model.IsSelf)
               {
                <a class="float-right" href="@editProfileUrl"><i class="fas fa-user-edit"></i></a>
               }
               <h4>Overview</h4>
               <p><small>Pinned (Top 6)</small></p>
               <!-- Grid of pinned Amphora -->
               <div class="container">
                   <table id="entity-table" class="table table-borderless table-striped">
                        <thead>
                            <tr class="row">
                                <th class="col-2"></th>
                                <th class="col-6">Name</th>
                                <th class="d-none d-sm-block col-sm-2 text-right">Price ($)</th>
                                <th class="col-sm-2"></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var entity in Model.PinnedAmphorae)
                            {
                            <tr class="row align-items-center entity-item">
                                <th class="col-2">
                                    <img class="img-fluid img-bullet" src="~/_content/sharedui/images/Amphora_Black.svg">
                                </th>
                                <td class="col-6">
                                    @entity.Name 
                                </td>
                                <td class="d-none d-sm-block col-sm-2 text-right">
                                    @entity.Price 
                                </td>
                                <td class="col-sm-2">
                                    <a asp-area="Amphorae" asp-page="/Detail" asp-route-id="@entity.Id"> 
                                        <button class="btn btn-link text-success"><i class="fas fa-info-circle"></i></button> 
                                    </a>
                                </td>
                            </tr>
                            }
                        </tbody>
                    </table>
               </div>
           </div>
        </div>
    </div>
</div>

