@page
@model Amphora.Api.Areas.Organisations.Pages.DetailModel
@{
    ViewData["Title"] = Model.Organisation.Name;
}

<div id="main" class="container">
    <div class="row">
        <div class="col-md-4">
            <div id="user-info-card" class="card mb-3">
                <div class="card-body">
                    <div class="text-center mb-3">
                        @{var profilePicture = $"/api/Organisations/{Model.Organisation.Id}/profile.jpg" ;}
                        <img src="@profilePicture" class="img-fluid"/>
                    </div>

                    <div class="w-100 mb-1">
                        <h6>@Model.Organisation.Name</h6>
                    </div>
                    
                    @if(Model.CanRequestToJoin)
                    {
                        <hr/>
                        <a class="btn btn-success btn-block mb-3 mx-auto" asp-route-id="@Model.Organisation.Id" asp-area="Organisations" asp-page="RequestToJoin">
                            Request to Join
                        </a>
                    }
                    <div class="w-100 text-wrap">
                        <small>@Model.Organisation.Id</small>
                    </div>
                    <hr/>
                    <span style="white-space: pre-line">@Model.Organisation.About</span>
                                     
                </div>
            </div>
        </div>
        <div class="col-md-8">
           <div>
               @if(Model.CanEdit)
               {
                <a class="float-right" asp-page="./Edit"><i class="fas fa-user-edit"></i></a>
               }
               <h4>Overview</h4>
               <p><small>Pinned (Top 6)</small></p>
               <!-- Grid of pinned Amphora -->
               <div class="container">

                    @if(Model.PinnedAmphorae?.Count() == 0)
                    {
                        <p>No Results</p>
                    }
                    else
                    {
                        var index = 0;
                        @foreach (var entity in Model.PinnedAmphorae)
                        {
                            @await Component.InvokeAsync("AmphoraRow", new {amphora = entity, index = index++})
                        }
                    }
               </div>
           </div>
        </div>
    </div>
    
</div>

@section Scripts {
    <script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })
    </script>
}

