@page
@model Amphora.Api.Areas.Organisations.Pages.DetailModel
@{
    ViewData["Title"] = Model.Organisation.Name;
}

<div id="main" class="container">
    <div class="row">
        <div class="col-md-4">
            <div id="user-info-card" class="card mb-3">
                <div class="card-body">
                    <div class="text-center mb-3">
                        @{var profilePicture = $"/api/Organisations/{Model.Organisation.Id}/profile.jpg" ;}
                        <img src="@profilePicture" class="img-fluid"/>
                    </div>
                    <div class="w-100 mb-1">
                        <strong>@Model.Organisation.Name</strong>
                    </div>
                    <div class="w-100 mb-1">
                        <span class="dropdown show float-right">
                            <a class="text-right btn btn-sm btn-link dropdown-toggle" href="#" role="button" id="actionsButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Options <i class="fas fa-ellipsis-v"></i>
                            </a>
                            <div class="dropdown-menu" aria-labelledby="actionsButton">
                                <a class="dropdown-item btn btn-light btn-block mr-1 mx-auto" asp-page="./TermsAndConditions/Index" asp-route-id="@Model.Organisation.Id">
                                    <i class="fas fa-file-contract"></i>
                                    Terms and Conditions Library
                                </a>
                                @if (Model.CanInvite)
                                {
                                    <a class="dropdown-item btn btn-light btn-block mx-auto" asp-area="Organisations" asp-page="./Invite">
                                        <i class="fas fa-user-plus"></i> Invite
                                    </a>
                                    <a class="dropdown-item btn btn-light btn-block mx-auto" asp-route-id="@Model.Organisation.Id" asp-area="Organisations" asp-page="Restrictions/Index"> 
                                        <i class="fas fa-ban"></i> Restrictions
                                    </a>
                                }
                                else if(! Model.IsInOrg)
                                {
                                    <a class="dropdown-item btn btn-danger btn-block mx-auto" asp-route-targetOrganisationId="@Model.Organisation.Id" asp-area="Organisations" asp-page="Restrictions/Create">
                                        <i class="fas fa-ban"></i> Restrict @Model.Organisation.Name 
                                    </a>
                                }
                            </div>
                        </span>
                        <small>@Model.Organisation.Id</small>
                    </div>
                    <hr/>
                    
                    @if(Model.CanRequestToJoin)
                    {
                        <a class="btn btn-success btn-block mb-3 mx-auto" asp-route-id="@Model.Organisation.Id" asp-area="Organisations" asp-page="RequestToJoin">
                            Request to Join
                        </a>
                        <hr/>
                    }
                    <span style="white-space: pre-line">@Model.Organisation.About</span>
                                     
                </div>
            </div>
            @if(Model.CanViewBalance)
            {
            <div class="card mb-3">
                <div class="card-header">
                    <a asp-page="./Accounts/Index" >Account</a>
                </div>
                <div class="card-body">
                    <ul class="list-group">
                        <li class="list-group-item">Balance: @(Model.Organisation.Account?.Balance ?? 0)</li>
                    </ul>
                </div>
            </div>
            }
            @if(Model.IsInOrg)
            {
            <div class="card mb-3">
                
                <div class="card-header mb-2">
                    <div class="float-right">
                        <a asp-area="Organisations" asp-page="./Members" asp-route-id="@Model.Organisation.Id"><i class="fas fa-cog"></i> </a>
                        <a asp-area="Organisations" asp-page="/Invite"><i class="fas fa-user-plus"></i> </a>
                    </div>
                    Members
                </div>
                <div class="card-body">

                    <ul>
                    @foreach (var m in Model.Organisation.Memberships)
                    {
                        @if(m.Role == Amphora.Common.Models.Organisations.Roles.Administrator)
                        {
                            <li> <i class="fas fa-user mr-2" data-toggle="tooltip" data-placement="top" title="Administrator"></i> 
                                <a asp-area="Profiles" asp-page="/Account/Detail" asp-route-userName="@m.User.UserName">@m.User.FullName </a>
                            </li>
                        }
                        else
                        {
                            <li> <i class="far fa-user mr-2" data-toggle="tooltip" data-placement="top" title="User"></i> 
                                <a asp-area="Profiles" asp-page="/Account/Detail" asp-route-userName="@m.User.UserName">@m.User.FullName </a>
                            </li>
                        }
                    }
                    </ul>
                </div>
                
            </div>
            }
        </div>
        <div class="col-md-8">
           <div>
               @if(Model.CanEdit)
               {
                <a class="float-right" asp-page="./Edit"><i class="fas fa-user-edit"></i></a>
               }
               <h4>Overview</h4>
               <p><small>Pinned (Top 6)</small></p>
               <!-- Grid of pinned Amphora -->
               <div class="container">
                   <table id="entity-table" class="table table-borderless table-striped">
                        <thead>
                            <tr class="row">
                            <th class="col-2"></th>
                            <th class="col-6">Name</th>
                            <th class="d-none d-sm-block col-sm-2 text-right">Price ($)</th>
                            <th class="col-2"></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var entity in Model.PinnedAmphorae)
                            {
                            <tr class="row align-items-center entity-item">
                                <th class="col-2">
                                <img class="img-fluid img-bullet" src="~/images/Amphora_Black.svg">
                                </th>
                                <td class="col-6">
                                    @entity.Name 
                                </td>
                                <td class="d-none d-sm-block col-sm-2 text-right">
                                    @entity.Price 
                                </td>
                                <td class="col-2">
                                    <a asp-area="Amphorae" asp-page="/Detail" asp-route-id="@entity.Id"> 
                                        <button class="btn btn-link text-success"><i class="fas fa-info-circle"></i></button> 
                                    </a>
                                </td>
                            </tr>
                            }
                        </tbody>
                    </table>
               </div>
           </div>
        </div>
    </div>
    
</div>

@section Scripts {
    <script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })
    </script>
}

