@page
@model Amphora.Api.Areas.Organisations.Pages.JoinModel

@{
    ViewData["Title"] = "Join Organisation";
}

@if(Model.Invitation != null)
{
    <div class="container">
        <div class="row">
            <div class="col">
                <h3>You've been invited to join an Organisation.</h3> 
                <p>The team at @Model.Invitation.TargetOrganisation.Name are waiting for your response.</p>
                <hr/>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <form method="post" asp-route-invitationId="@Model.Invitation.Id" asp-route-handler="accept">
                    <div class="form-group">
                        <input type="submit" value="Join @Model.Invitation.TargetOrganisation.Name" class="btn btn-success btn-block" />
                    </div>
                </form>
                <form class="mt-3" method="post" asp-route-invitationId="@Model.Invitation.Id" asp-route-handler="reject">
                    <div class="form-group">
                        <input type="submit" value="Reject Invitation to @Model.Invitation.TargetOrganisation.Name" class="btn btn-danger btn-block" />
                    </div>
                </form>
            </div>

            <div class="col-md-6">
                <img class="img-fluid m-2" src="~/images/stock/undraw_remote_team_h93l.svg"/>
            </div>
        </div>
    </div>
} else 
{
    <div class="container">
        <div class="row">
            <div class="col">
                <h3>You have not been invited to join this organisation. </h3>
            </div>
        </div>
    </div>
}