@page
@model Amphora.Api.Areas.Organisations.Pages.TermsAndConditions.DetailModel

<div class="container">
    <div class="row justify-content-center">
        <div class="col-8">
            <div class="m-3 card">
                <div class="card-header">
                    @Model.TermsAndConditions.Name <small class="float-right"> by 
                        <a asp-page="../Detail" asp-route-id="@Model.Organisation.Id">@Model.Organisation.Name</a>
                        </small>
                </div>
                <div class="card-body">
                    <span style="white-space: pre-line">@Model.TermsAndConditions.Contents</span>
                </div>
            </div>
            @if(Model.CanAccept)
            {
            <form method="post" asp-route-returnUrl="@Model.ReturnUrl" 
                                asp-route-id="@Model.Organisation.Id" 
                                asp-route-name="@Model.TermsAndConditions.Name">

                <button class="btn btn-success btn-block">Accept</button>
            </form>
            }
            <a asp-area="Organisations" asp-page="/Detail" asp-route-id="@Model.Organisation.Id">
                <button class="mt-1 btn btn-secondary btn-block">Back to Organisation</button>
            </a>
        </div>
    </div>
</div>
