@page
@model Amphora.Api.Areas.Organisations.Pages.TermsAndConditions.IndexModel

@{
    ViewData["Title"] = $"{Model.Organisation.Name}: T&C";
}

<div class="container">
    <div class="row">
        <div class="col">
            <div class="float-right">
                <a asp-page="../Detail" asp-route-id="@Model.Organisation.Id"><button class="btn btn-secondary">Back to Organisation</button></a>
                <a asp-page="./Create" asp-route-id="@Model.Organisation.Id"><button class="btn btn-primary">Create</button></a>
            </div>
            <div>
                <h2>Terms and Conditions Library</h2>
            </div>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col">
            <table id="signal-table" class="table">
                <tbody>
                    @if(Model.Organisation.TermsAndConditions != null)
                    {
                        @foreach (var tnc in Model.Organisation.TermsAndConditions)
                        {
                        <tr class="signal-item">
                            <td><i class="fas fa-file-contract mr-2"></i><a asp-page="./Detail" asp-route-id="@Model.Organisation.Id" asp-route-tncId="@tnc.Id">@tnc.Name</a></td>
                        </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>