@page
@model Amphora.Api.Pages.Market.IndexModel
@{
    ViewData["Title"] = "Market";
}

<div class="container">
    <div class="row">
        <div class="col text-center">
            <h2 class="display-4">Data Market</h2>
        </div>
    </div>
    <div class="row">
        <div class="col text-center">
            <form id="searchform" method="post" >
                <div class="input-group mb-4 border rounded-pill p-1">
                    <input type="search" placeholder="What're you searching for?" asp-for="Term" aria-describedby="button-addon3" class="form-control bg-none border-0">
                    <div class="input-group-append border-0">
                        <button id="button-addon3" type="submit" class="btn btn-link text-success"><i class="icon fa fa-search"></i></button>
                    </div>
                </div>
                <div class="card mb-2">
                    <a class="float-left" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseAdvanced">
                        <i class="fas fa-angle-down"></i>
                    </a>

                    <div class="collapse" id="collapseExample">
                        <div class="container card-body">
                            <div class="row mb-2">
                                <div class="col-4 body ui-widget">
                                    <input id="autoComplete" type="text" tabindex="1">
                                </div>
                                <div class="col selection"></div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <input id="lat" asp-for="Input.Lat" placeholder="Latitude" class="form-control bg-none border-1">
                                    <span asp-validation-for="Input.Lat" class="text-danger"></span>
                                </div>
                                <div class="col">
                                    <input id="lon" asp-for="Input.Lon" placeholder="Longitude" class="form-control bg-none border-1">
                                    <span asp-validation-for="Input.Lon" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div>
                <table id="market-table" class="table">
                    <thead>
                        <tr>
                            <th scope="col">Title</th>
                            <th scope="col">Description</th>
                            <th scope="col">Price ($)</th>
                            <th> Action</th>
                        </tr>
                    </thead>
                    <tbody>
                    @foreach (var entity in Model.Entities)
                    {
                        <tr class="market-item">
                            <th scope="row">@entity.Title</th>
                            <td>@entity.Description</td>
                            <td>@entity.Price</td>
                            <td> <a asp-page="/amphorae/Detail" asp-route-id="@entity.Id">
                                    <button class="btn btn-link text-success">More</button> 
                                </a>
                            </td>
                        </tr>
                    }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="https://cdn.jsdelivr.net/npm/@@tarekraafat/autocomplete.js@@6.1.0/dist/js/autoComplete.js"></script>
    <script src="~/js/geo.js"></script>
    <script>
        const token = '@Model.Token';
        const url = '@Url.Action("LookupLocationAsync", "Market")';
        autocompleteGeoSearch(token, url, "#lat", "#lon")
    </script>
}
