@page
@model Amphora.Api.Pages.Market.IndexModel
@{
    ViewData["Title"] = "Market";
}

<div class="container">
    <div class="row">
        <div class="col text-center">
            <h2 class="display-4">Data Market</h2>
        </div>
    </div>
    <div class="row">
        <div class="col text-center">
            <form id="searchform" method="post" >
                <div class="input-group mb-4 border rounded-pill p-1">
                    <input type="search" placeholder="What're you searching for?" asp-for="Term" aria-describedby="button-addon3" class="form-control bg-none border-0">
                    <div class="input-group-append border-0">
                        <button id="button-addon3" type="submit" class="btn btn-link text-success"><i class="icon fa fa-search"></i></button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header text-center">
                    <p class="card-title">Filters</p>
                </div>
                <div class="card-body">
                    <div class="form-group"> 
                        <input form="searchform" id="show-amphorae" asp-for="ShowAmphorae" value="true">
                        <label for="show-amphorae">Amphorae</label>
                    </div>
                    <div class="form-group"> 
                        <input form="searchform" id="show-temporae" asp-for="ShowTemporae" value="true">
                        <label for="show-temporae">Temporae</label>
                    </div>
                </div>
            </div>
        </div>
    <div class="col-9">
        <div>
            <table id="market-table" class="table">
                <thead>
                    <tr>
                    <th scope="col">Title</th>
                    <th scope="col">Type</th>
                    <th scope="col">Description</th>
                    <th scope="col">Price ($)</th>
                    <th> Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var entity in Model.Entities)
                    {
                    var entityType = entity.GetEntityType();
                     <tr class="market-item">
                        <th scope="row">@entity.Title</th>
                        <td>@entityType</td>
                        <td>@entity.Description</td>
                        <td>@entity.Price</td>
                        @if(entityType == Amphora.Common.Models.DataEntityTypes.Tempora)
                        {
                            <td> <a asp-page="/temporae/Detail" asp-route-id="@entity.Id">
                                    <button class="btn btn-link text-success">More</button> 
                                </a>
                            </td>
                        }
                        @if(entityType == Amphora.Common.Models.DataEntityTypes.Amphora)
                        {
                            <td> <a asp-page="/amphorae/Detail" asp-route-id="@entity.Id">
                                    <button class="btn btn-link text-success">More</button> 
                                </a>
                            </td>
                        }
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
  </div>
</div>

