@page
@model Amphora.Api.Pages.Market.IndexModel
@{
    ViewData["Title"] = "Market";
}

<div class="container">
    <div class="row">
        <div class="col text-center">
            <h2 class="display-4">Data Market</h2>
        </div>
    </div>
    <div class="row">
        <div class="col text-center">
            <form id="searchform" method="get" >
                <div class="input-group mb-4 border rounded-pill p-1">
                    <input type="search" placeholder="What're you searching for?" asp-for="SearchDefinition.Term" aria-describedby="button-addon3" class="form-control bg-none border-0">
                    <div class="input-group-append border-0">
                        <button id="button-addon3" type="submit" class="btn btn-link text-success"><i class="icon fa fa-search"></i></button>
                    </div>
                </div>
                <div class="card mb-2">
                    <a class="float-left" data-toggle="collapse" href="#filterCollapse" role="button" aria-expanded="false" aria-controls="collapseAdvanced">
                        <i class="fas fa-angle-down"></i>
                    </a>

                    <div class="collapse" id="filterCollapse">
                        <div class="container card-body">
                            <div class="row mb-2">
                                <div class="col-4 body ui-widget">
                                    <input id="autoComplete" type="text" tabindex="1" autocomplete="off">
                                </div>
                                <div class="col selection"></div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <input id="lat" asp-for="SearchDefinition.Lat" placeholder="Latitude" class="form-control bg-none border-1">
                                    <span asp-validation-for="SearchDefinition.Lat" class="text-danger"></span>
                                </div>
                                <div class="col">
                                    <input id="lon" asp-for="SearchDefinition.Lon" placeholder="Longitude" class="form-control bg-none border-1">
                                    <span asp-validation-for="SearchDefinition.Lon" class="text-danger"></span>
                                </div>
                                <div class="col">
                                    <input id="dist" asp-for="SearchDefinition.Dist" placeholder="Distance (km)" class="form-control bg-none border-1">
                                    <span asp-validation-for="SearchDefinition.Dist" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div>
                <table id="market-table" class="table">
                    <thead>
                        <tr>
                            <th scope="col">Name</th>
                            <th scope="col">Price ($)</th>
                            <th> Action</th>
                        </tr>
                    </thead>
                    <tbody>
                    @foreach (var entity in Model.Entities)
                    {
                        <tr class="market-item">
                            <th scope="row">@entity.Name</th>
                            <td>@entity.Price</td>
                            <td> <a asp-area="Amphorae" asp-page="/Detail" asp-route-id="@entity.Id">
                                    <button class="btn btn-link text-success">More</button> 
                                </a>
                            </td>
                        </tr>
                    }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <nav aria-label="...">
                <ul class="pagination justify-content-center">
                    @{
                        var d = Model.SearchDefinition;
                        // skip is zero based
                        var numPages = (Model.Count / d.Top) + 1;
                        var currentPage = d.Skip + 1;
                        var previousPage = d.Skip;
                        var previousSkip = d.Skip - 1;
                        var nextPage = d.Skip + 2;
                        var nextSkip = d.Skip + 1;
                        string nextEnabled = "";
                        string previousEnabled = "";
                        if(nextPage >= numPages) nextEnabled = "disabled";
                        if(previousPage < 1) previousEnabled = "disabled";
                    }
                    <li class="page-item @previousEnabled">
                        <a class="page-link" asp-page="/Market/Index" 
                             asp-route-term="@Model.SearchDefinition.Term" 
                            asp-route-skip="@previousSkip"
                            asp-route-top="@Model.SearchDefinition.Top" 
                            asp-route-lat="@Model.SearchDefinition.Lat" 
                            asp-route-lon="@Model.SearchDefinition.Lon" 
                            asp-route-dist="@Model.SearchDefinition.Dist"
                            tabindex="-1">
                            Previous
                        </a>
                    </li>
                    @for(var p = 1; p <= numPages; p++)
                    {
                        var active = "";
                        if(p == currentPage) active = "active";
                        <li class="page-item @active">
                            <a class="page-link" asp-page="/Market/Index" 
                                asp-route-term="@Model.SearchDefinition.Term" 
                                asp-route-skip="@(p - 1)" 
                                asp-route-top="@Model.SearchDefinition.Top" 
                                asp-route-lat="@Model.SearchDefinition.Lat" 
                                asp-route-lon="@Model.SearchDefinition.Lon" 
                                asp-route-dist="@Model.SearchDefinition.Dist" >
                                @p
                            </a>
                        </li>
                    }
                    <li class="page-item @nextEnabled">
                        <a class="page-link" asp-page="/Market/Index" 
                            asp-route-term="@Model.SearchDefinition.Term" 
                            asp-route-skip="@nextSkip"
                            asp-route-top="@Model.SearchDefinition.Top" 
                            asp-route-lat="@Model.SearchDefinition.Lat" 
                            asp-route-lon="@Model.SearchDefinition.Lon" 
                            asp-route-dist="@Model.SearchDefinition.Dist" >
                            Next
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>

@section Scripts {
    <script src="https://cdn.jsdelivr.net/npm/@@tarekraafat/autocomplete.js@@6.1.0/dist/js/autoComplete.js"></script>
    <script src="~/js/geo.js"></script>
    <script>
        const url = '/Market/LocationSearch';
        autocompleteGeoSearch(null, url, "#lat", "#lon")
    </script>
}
