@page
@using Amphora.Common.Models.Permissions
@model Amphora.Api.Areas.Amphorae.Pages.DetailModel
@inject Amphora.Api.Services.FeatureFlags.FeatureFlagService FeatureFlags
@{
    ViewData["Title"] = Model.Amphora.Name;
}


<div id="main" class="container">
    <div class="row">
        @if(Model.ModelState.ErrorCount > 0)
        {
            <div class="col" aria-live="polite" aria-atomic="true" style="position: relative;"> 
                <div role="alert" aria-live="assertive" aria-atomic="true" class="toast" style="position: absolute; top: 0; right: 0; z-index: 10;">
                    <div class="toast-header">
                        <strong class="mr-auto">Message</strong>
                        <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div asp-validation-summary="ModelOnly" class="toast-body text-danger">
                    </div>
                </div>
            </div>
        }
    </div>
    <div class="row mb-3 border-bottom">
        <div class="col-9">
            <h2>
                @Model.Amphora.Name
            </h2>
        </div>
        <div class="col-3">
            <span>
                <a asp-page="./Index"><button class="btn btn-secondary">Amphorae</button></a>
            </span>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-md-4 mb-2">
            @{
            string iSrc = $"/Amphorae/StaticMap?id={Model.Amphora.Id}"; //The src path.
            }
            <img src="@Url.Content(iSrc)" class="img-fluid rounded mx-auto">
        </div>

        <div class="col-md-8">
            @if(Model.Amphora.IsDeleted.HasValue && Model.Amphora.IsDeleted.Value)
            {
                <div class="alert alert-danger" role="alert">
                    Deletion Pending
                </div>
            }
            <div class="card bg-light">
                <div class="card-header">
                    <div class="float-left">
                        @{var date = "";}
                        @if(Model.Amphora.CreatedBy != null)
                        {
                            <div>
                                by <a asp-area="Profiles" asp-page="/Account/Detail" asp-route-id="@Model.Amphora.CreatedById">
                                    @Model.Amphora.CreatedBy?.FullName
                                    </a> from
                                    <a asp-area="Organisations" asp-page="/Detail" asp-route-id="@Model.Amphora.CreatedBy.OrganisationId">
                                    @Model.Amphora.CreatedBy.Organisation?.Name
                                    </a>
                                    @if(Model.Amphora.CreatedDate.HasValue)
                                    {
                                        date = $"on {Model.Amphora.CreatedDate.Value.ToString("dd MMM yy")}";
                                    }
                                    @date
                            </div>
                        }
                        else
                        {
                            <div>by Unknown user</div>
                        }
                        <span>
                            <button id="amphoraIdBtn" class="float-left btn btn-light btn-sm" onclick="$('#amphoraId').removeClass('d-none');$('#amphoraIdBtn').addClass('d-none');">
                                <small>id</small>
                            </button>
                            <span class="d-none" id=amphoraId> <small>@Model.Amphora.Id </small> </span>
                        </span>
                        <div>
                            @foreach(var l in Model.Amphora.Labels)
                            {
                                <span class="badge badge-secondary m-1">l.Name</span>
                            }
                        </div>
                    </div>
                    @{
                        var buttonMode = string.Empty;
                        var signalsButtonMode = string.Empty;
                        if(! Model.CanBuy) { buttonMode = "disabled"; } 
                        if(Model.CanBuy && !Model.CanUploadFiles) { signalsButtonMode = "disabled"; } 
                    }
                    <div class="float-right">
                        @if(Model.CanEditDetails)
                        {
                            <a class="btn btn-info m-1" asp-page="./Edit" asp-route-id="@Model.Amphora.Id">Edit</a>
                        }
                        <a asp-page="./Signals/Index" asp-route-id="@Model.Amphora.Id"><button class="btn btn-light m-1" @signalsButtonMode>Signals</button></a>
                        <a asp-page="./Purchase" asp-route-id="@Model.Amphora.Id"><button class="btn btn-success m-1" @buttonMode>Buy</button></a>
                    </div>
                </div>
                    <div class="card-body">
                        <div class="float-right">
                            @await Component.InvokeAsync("AmphoraQualityBadges", new {qualitySummary = Model.Quality})
                        </div>
                        <h5 class="card-title">Description</h5>
                        <span class="card-text" style="white-space: pre-line">@Model.Amphora.Description</span>
                    </div>
                <div class="container card-footer">
                    <div class="row justify-content-between">
                        <div class="col-sm-4">
                            <i class="fas fa-dollar-sign"></i> @Model.Amphora.Price per Month
                        </div>
                        <div class="col-sm-5">
                            @if(Model.Amphora.TermsAndConditionsId != null)
                            {
                                <i class="far fa-handshake mr-1"></i>
                                <a asp-area="Organisations" 
                                    asp-page="/TermsAndConditions/Detail"
                                    asp-route-id="@Model.Amphora.OrganisationId"
                                    asp-route-tncId="@Model.Amphora.TermsAndConditionsId">
                                    @Model.Amphora.TermsAndConditions?.Name
                                </a>
                            }
                            
                        </div>
                        <div class="col-3 text-right">
                            @if(Model.CanEditDetails)
                            {

                            <span class="dropdown show">
                                <a class="btn btn-sm btn-secondary dropdown-toggle" href="#" role="button" id="pinActionLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Options
                                </a>

                                <div class="dropdown-menu" aria-labelledby="pinActionLink">
                                    @if(Model.Result.User?.PinnedAmphorae.IsPinned(Model.Amphora) ?? false)
                                    {
                                        <form method="post" asp-page-handler="pin" asp-route-id="@Model.Amphora.Id" asp-route-target="UnpinFromUser">
                                            <button class="dropdown-item" type="submit" class="btn btn-primary">
                                                <i class="fas fa-thumbtack"></i> Unpin from User
                                            </button>
                                        </form>
                                    }
                                    else
                                    {
                                        <form method="post" asp-page-handler="pin" asp-route-id="@Model.Amphora.Id" asp-route-target="PinToUser">
                                            <button class="dropdown-item" type="submit" class="btn btn-primary">
                                                <i class="fas fa-thumbtack"></i> Pin to User
                                            </button>
                                        </form>
                                    }
                                    
                                    @if(Model.Amphora.Organisation?.PinnedAmphorae.IsPinned(Model.Amphora) ?? false)
                                    {
                                        <form method="post" asp-page-handler="pin" asp-route-id="@Model.Amphora.Id" asp-route-target="UnpinFromOrg">
                                            <button class="dropdown-item" type="submit" class="btn btn-primary">
                                                <i class="fas fa-thumbtack"></i> Unpin from Organisation
                                            </button>
                                        </form>
                                    }
                                    else
                                    {
                                        <form method="post" asp-page-handler="pin" asp-route-id="@Model.Amphora.Id" asp-route-target="PinToOrg">
                                            <button class="dropdown-item" type="submit" class="btn btn-primary">
                                                <i class="fas fa-thumbtack"></i> Pin to Organisation
                                            </button>
                                        </form>
                                    }
                                    
                                    <button class="dropdown-item" data-toggle="collapse" href="#hasPurchasedCollapse" role="button" aria-expanded="false" aria-controls="collapseAdvanced">
                                        <i class="fas fa-users"></i> Show has purchased
                                    </button>
                                    @if(Model.CanUploadFiles)
                                    {    
                                    <button class="dropdown-item" data-toggle="collapse" href="#uploadFileCollapse" role="button" aria-expanded="false" aria-controls="collapseAdvanced">
                                        <i class="fas fa-upload"></i> Upload File
                                    </button>
                                    }
                                </div>
                            </span>
                            }
                        </div>
                    </div>
                </div>
            </div>
            <div id="uploadFileCollapse" class="card mt-2 collapse">
                <div class="card-header">
                    <h5 class="card-title">Upload File</h5>
                </div>
                <div class="card-body">
                    <div class="container">
                        <form asp-route-id="@Model.Amphora.Id" asp-page-handler="upload" method="post" enctype="multipart/form-data">
                            <div class="form-group">
                                <input class="form-control-file" type="file" name="files">
                                <small class="form-text card-text text-muted">This becomes content in the Amphora.</small>
                            </div>
                            <div class="form-group">
                                <input class="form-control" type="submit" value="Upload" data-toggle="collapse" href="#isUploading">
                            </div>
                        </form> 
                        <div id="isUploading" class="progress collapse">
                            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%"></div>
                        </div>
                    </div>                                                        
                </div>
            </div>
            @if(Model.CanEditPermissions)
            {
            <div id="hasPurchasedCollapse" class="card bg-light mt-2 collapse">
                <div class="card-header">
                     <div>
                        <a class="float-right" asp-route-id="@Model.Amphora.Id" asp-page="./Invite">
                            <i class="fas fa-user-plus"></i>
                        </a>
                    </div>
                    <h5 class="card-title">Has Purchased</h5>
                </div>
                <ul class="list-group">
                @foreach (var a in Model.Purchases)
                {
                    var d = new Dictionary<string, string>{ {"id", a.PurchasedByUserId} };
                    
                    <li> 
                        <i class="far fa-user mr-2" data-toggle="tooltip" data-placement="top" title="@a.PurchasedByUser.UserName"></i> 
                        <a asp-area="Profiles" asp-page="/Account/Detail" asp-all-route-data=@d > @a.PurchasedByUser.UserName </a>
                    </li>
                }
                </ul>
            </div>
            }
            
        </div>
    </div>
    <div>
        <table id="file-table" class="table">
            <thead>
                <tr>
                <th scope="col">Filename</th>
                <th> Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var n in Model.Names)
                {
                <tr class="file-item">
                    <th scope="row">@n</th>
                    <td><a asp-route-id="@Model.Amphora.Id" asp-route-name="@n" asp-page="./File"><button class="btn btn-primary">Download</button></a></td>
                </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@section Scripts {
    <script>
        $('.toast').toast({
            animation: true,
            delay: 3000
        })

        $('.toast').toast('show')


    </script>
}
