@page
@model FilesPageModel

@{
    ViewData["Title"] = Model.Amphora.Name + " Files";
}


<div class="container">
    <div class="row">
        <div class="col">
            <a asp-page="./Detail" asp-route-id="@Model.Amphora.Id"><button class="float-right btn btn-secondary m-1">Amphora</button></a>
            <h3>@Model.Amphora.Name</h3>
            <small>Files</small>
            <hr/>
        </div>
    </div>
    <div clas="row">
        <div clas="col">
            <table id="file-table" class="table">
                <thead>
                    <tr>
                        <th scope="col">Filename</th>
                        <th class="text-center"></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var n in Model.Names)
                    {
                    <tr class="file-item">
                        <th scope="row">@n</th>
                        <td class="text-right">
                            @if(Model.CanDownloadFiles)
                            {
                                <a class="btn btn-primary" asp-route-id="@Model.Amphora.Id" asp-route-name="@n" asp-page="./File">
                                    Download
                                </a>
                            }
                            @if(Model.CanDeleteFiles)
                            {
                                <a class="btn btn-danger" asp-route-id="@Model.Amphora.Id" asp-route-name="@n" asp-page="./DeleteFile">
                                    Delete
                                </a>
                            }
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    @if(Model.CanUploadFiles)
    {
    <div class="row">
        <div class="col">
            <h5 class="card-title">Upload File</h5>

            <form asp-route-id="@Model.Amphora.Id" asp-page-handler="upload" method="post" enctype="multipart/form-data">
                <div class="form-group">
                    <input class="form-control-file" type="file" name="files">
                    <small class="form-text card-text text-muted">This becomes content in the Amphora.</small>
                </div>
                <div class="form-group">
                    <input class="form-control" type="submit" value="Upload" data-toggle="collapse" href="#isUploading">
                </div>
            </form> 
            <div id="isUploading" class="progress collapse">
                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%"></div>
            </div>                                        

        </div>
    </div>
    }
</div>
