@page
@model Amphora.Api.Areas.Amphorae.Pages.IndexModel
@{
    ViewData["Title"] = "Amphorae";
}

<div id="main" class="container">
    <div class="row main-header">
        <div class="col">
            <span>
                <h1 class="display-4">My Amphorae</h1>
                <a asp-page="./Create"><button class="btn btn-primary">Create</button></a>
            </span>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <div class="card mb-3">
                <div class="card-header">
                    <h5 class="card-title">View Options</h5>
                </div>
                <div class="card-body">
                    @{
                        var thisUrl = Url.Content("~");
                        var mineUrl = $"{thisUrl}?viewType=mine";
                        var orgUrl = $"{thisUrl}?viewType=org";
                        var purchasedUrl = $"{thisUrl}?viewType=purchased";
                        string mine = string.Empty;
                        string org = string.Empty;
                        string pur = string.Empty;
                        if (string.Equals(Model.ViewType, "mine" )) {mine = "active";}
                        if( string.Equals(Model.ViewType, "org" )) {org = "active";}
                        if( string.Equals(Model.ViewType, "purchased" )){ pur = "active";}
                    }
                    <a href="@mineUrl">
                        <button type="button" class="m-1 btn btn-light btn-block @mine">Mine</button>
                    </a>                              
                    <a href="@orgUrl">
                        <button type="button" class="m-1 btn btn-light btn-block @org">My Org</button>
                    </a>
                    <a href="@purchasedUrl">
                        <button type="button" class="m-1 btn btn-light btn-block @pur">Purchased</button>
                    </a>
                </div>
            </div>
        </div>
        @if(Model.Amphorae?.Count() == 0)
        {
            <div class="col text-center align-middle">
                <p>
                    There's nothing here
                </p>
            </div>
        }
        else
        {
            <div class="col">
                <table id="entity-table" class="table table-borderless table-striped">
                    <tbody>
                        @foreach (var entity in Model.Amphorae)
                        {
                            @await Component.InvokeAsync("AmphoraRow", new {amphora = entity, isTable = true})
                        }
                    </tbody>
                </table>
            </div>
        }
    </div>
    <div class="row align-items-end">
        <div class="col">
            <nav aria-label="...">
                <ul class="pagination justify-content-center">
                    @{
                        // skip is zero based
                        int numPages = (( Model.Count ?? 0) /  (Model.Top ?? 0) + 1);
                        int currentPage = (int) Model.Skip + 1;
                        var previousPage = Model.Skip;
                        var previousSkip = Model.Skip - 1;
                        var nextPage = Model.Skip + 2;
                        var nextSkip = Model.Skip + 1;
                        var startPage = Math.Max(1, currentPage - 3);
                        var endPage = Math.Min(numPages, currentPage + 3);
                        string nextEnabled = "";
                        string previousEnabled = "";
                        if(nextPage > numPages) nextEnabled = "disabled";
                        if(previousPage < 1) previousEnabled = "disabled";
                    }
                    <li class="page-item @previousEnabled">
                        <a class="page-link" asp-page="./Index" 
                            asp-route-viewType="@Model.ViewType"
                            asp-route-skip="@previousSkip"
                            asp-route-top="@Model.Top" 
                            tabindex="-1">
                            Previous
                        </a>
                    </li>
                    @for(var p = startPage; p <= endPage; p++)
                    {
                        var active = "";
                        if(p == currentPage) active = "active";
                        <li class="page-item @active">
                            <a class="page-link" asp-page="./Index" 
                                asp-route-viewType="@Model.ViewType"
                                asp-route-skip="@(p - 1)"
                                asp-route-top="@Model.Top" >
                                @p
                            </a>
                        </li>
                    }
                    <li class="page-item @nextEnabled">
                        <a class="page-link" asp-page="./Index" 
                            asp-route-viewType="@Model.ViewType"
                            asp-route-skip="@nextSkip"
                            asp-route-top="@Model.Top"  >
                            >
                        </a>
                    </li>
                    <li class="page-item @nextEnabled">
                        <a class="page-link" asp-page="./Index" 
                            asp-route-viewType="@Model.ViewType"
                            asp-route-skip="@(numPages - 1)"
                            asp-route-top="@Model.Top"  >
                            >>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>

@section scripts {
    <script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
            })
    </script>
}


