@page
@model Amphora.Api.Areas.Amphorae.Pages.PurchasePageModel

@{
    var thisUrl = $"{HttpContext.Request.Path}{HttpContext.Request.QueryString}";
}

<div class="container">
    <div class="row">
        <div class="col">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        </div>
    </div>


    <div class="row mt-3">
        <div class="col-md-6">
            @if(Model.Success)
            {
                    <h1 class="display-4">Congratulations!</h1>
                    <hr/>
                    <p>
                        You've just purchased an Amphora. 
                    </p>
                    <br/>
                    <a asp-page="./Detail" asp-route-id="@Model.Id"><button class="w-50 btn btn-success">Take me there</button></a>
            }
            else
            {   
                <a asp-area="Organisations" asp-page="TermsAndConditions/Detail" 
                                            asp-route-id="@Model.Amphora.OrganisationId" 
                                            asp-route-tncId="@Model.Amphora.TermsAndConditionsId"
                                            asp-route-returnUrl="@thisUrl">
                
                    <button class="btn btn-warning btn-block">Terms and Conditions</button>
                </a>
            }
        </div>

        <div class="col-md-6 mt-1">
            @if(Model.Success)
            {
                <img class="img-fluid" src="@Model.CelebrationImagePath" />
            }
            else
            {
                <img class="img-fluid" src="~/images/stock/warning/undraw_warning_cyit.svg" />
            }
            <br/>
        </div>
    </div>
</div>

