@page
@model Amphora.Api.Areas.Amphorae.Pages.Signals.DetailModel

@{
    ViewData["Title"] = Model.Amphora.Name + " " + Model.Signal.Property;
    var id = "A" + System.Guid.NewGuid().ToString();
}

@await Component.InvokeAsync("Metadata", new {id = id, title = $"{Model.Signal.Property} Metadata", meta = Model.Signal.Attributes})


<div id="main" class="container">
    <div class="row main-header">
        <div class="col">
            <div class="m-2">
                <a asp-page="./Index" asp-route-id="@Model.Amphora.Id"><button class="btn btn-secondary m-1">All Signals</button></a>
                <button type="button" class="btn btn-primary m-1" data-toggle="modal" data-target="#@id">View Attributes</button>
                
                <h2>@Model.Amphora.Name</h2>
                <strong>Property: @Model.Signals.FirstOrDefault()?.Property</strong>
            </div>
            @if(Model.Values != null)
            {
                <div class="card m-2">
                    <div class="card-header">
                        This property has the following categorical values:
                    </div>
                    <div class="card-body">
                        <ul>
                        @foreach(var v in Model.Values)
                        {
                            <li> @v </li>
                        }
                        </ul>
                    </div>
                </div>
            }
            else if(@Model.Signal.IsString)
            {
                <p>This property has no values...</p>
            }
        </div>
    </div>
    <div class="row">
        <div class="col">
            @await Component.InvokeAsync("Metadata", new {})
        </div>
    </div>
    @if(Model.Signal.IsNumeric)
    {
    <div class="row">
        <div id="chart" class="mb-5 mt-3" style="width: 100%; height: 400px; float: left;"></div>
    </div>
    <div class="row">
        <div id="availability" style="width: 100%; height: 160px; z-index:1;"></div>
    </div>
    }
</div>


@section Scripts {
    @if(Model.Signal.IsNumeric)
    {
    <script src="~/js/tsi.js"></script>
    <script>
        var cols = @Html.Raw(@Newtonsoft.Json.JsonConvert.SerializeObject(Model.Signals.Where(s => s.IsNumeric)));
        var response = @Html.Raw(@Model.QueryResponse);
        var id = '@Model.Amphora.Id';
        tsi(id, cols).then(() => console.log('TSI Loaded'))
    </script>
    }

     <script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })
    </script>
}
