@page
@model Amphora.Api.Areas.Amphorae.Pages.Signals.DetailModel

@{
    ViewData["Title"] = Model.Amphora.Name + " " + Model.Signal.KeyName;
}

<div id="main" class="container">
    <div class="row main-header">
        <div class="col">
            <span>
                <h1>@Model.Signals.FirstOrDefault().KeyName</h1>
                <a asp-page="./Index" asp-route-id="@Model.Amphora.Id"><button class="btn btn-primary">All Signals</button></a>
            </span>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <small>This week</small>
        </div>
        <div id="chart" style="width: 100%; height: 400px; margin-top: 40px; float: left;"></div>
    </div>
</div>


@section Scripts {
    <script src="https://unpkg.com/tsiclient@1.2.24/tsiclient.js"></script>
    <script src="~/js/tsi.js"></script>

    <script>
        var cols = @Html.Raw(@Newtonsoft.Json.JsonConvert.SerializeObject(Model.Signals.Where(s => s.IsNumeric)));
        var response = @Html.Raw(@Model.QueryResponse);
        tsi(cols, response)
    </script>

     <script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })
    </script>
}
