@page
@model Amphora.Api.Areas.Admin.Pages.Accounts.IndexPageModel

@using Amphora.Api.Models.Dtos.Admin

@{
    ViewData["Title"] = "Accounts Admin";
}

@if(Model.Message != null)
{
    <div class="alert alert-secondary" role="alert">
        @Model.Message
    </div>
}

<div class="container">
    <div class="row">
        <div class="col">
            <a class="float-right btn btn-primary" asp-page="../Index">Admin Home</a>
            <h3>Accounts</h3>
            <p> These are all the Organisations (@Model.OrgCount) in Amphora Data.</p>
            <hr/>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 master">
            <partial name="_AdminAccountsMasterNavPartial" />
        </div>

        <div class="col-md-9 detail">
            <div class="row">
                @if(Model.Report != null)
                {
                    <div class="col text-right">
                        <h5>Results</h5>
                        <!-- Button trigger modal -->
                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                                Show Report
                            </button>
                    </div>
                }
                <div class="col text-right">
                    <h5>Operations</h5>
                    <form method="post" asp-page-handler="GenerateTransactions" asp-route-name="@Model.Name" asp-route-pageNumber="@Model.PageNumber">
                        <div class="form-group">
                            <input value="Run Transaction Generation Process" type="submit" class="btn btn-primary" />
                        </div>
                    </form>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <table id="entity-table" class="table table-borderless table-striped">
                        <thead>
                            <tr>
                            <th scope="col">Org</th>
                            <th scope="col">Balance ($)</th>
                            <th scope="col">Plan</th>
                            <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var entity in Model.Orgs)
                            {
                            <tr class="entity-item">
                                <th scope="row"> @entity.Name </th>
                                <td>
                                    @entity.Account?.Balance
                                </td>
                                <td>
                                    @(entity.Account?.Plan?.PlanType?.ToString() ?? "Free" )
                                </td>
                                <td>  
                                    <a asp-area="Admin" asp-page="/Detail/Index" asp-route-id="@entity.Id"> 
                                        <button class="btn btn-link text-info">Detail</button> 
                                    </a>
                                    <a asp-area="Admin" asp-page="/Detail/AddCredit" asp-route-id="@entity.Id"> 
                                        <button class="btn btn-link text-success">Add Credit</button> 
                                    </a>
                                    <a asp-area="Admin" asp-page="/Detail/Configuration" asp-route-id="@entity.Id"> 
                                        <button class="btn btn-link text-success">Configuration</button> 
                                    </a>
                                </td>
                            </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <a class="btn btn-secondary" asp-page="./Index" asp-route-name="@Model.Name" asp-route-pageNumber="@Math.Max(0, Model.PageNumber - 1)">Prev</a>
                    <a class="btn btn-secondary" asp-page="./Index" asp-route-name="@Model.Name" asp-route-pageNumber="@Math.Min(Model.MaxPages, Model.PageNumber + 1)">Next</a>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="reportModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="reportModalLabel">Report</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            <div class="modal-body">
                <ul class="list-group">
                @if(Model.Report != null)
                {
                    foreach(var log in Model.Report.LogMessages)
                    {
                        var colorClass = "";
                        if(log.Level == Report.Level.Warning)
                        {
                            colorClass = "bg-warning";
                        }
                        if(log.Level == Report.Level.Error)
                        {
                            colorClass = "bg-danger";
                        }
                        <li class="list-group-item @colorClass">@log.Timestamp.ToString("H:mm") - @log.Message</li>
                    }
                }
                else
                {
                    <li class="list-group-item">No Report</li>
                }
                </ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>