@page
@model Accounts.InvoicePageModel

@{
    ViewData["Title"] = "Invoice Detail";
}

<div class="container">
    <a class="float-right btn btn-primary" asp-page="./Detail" asp-route-id="@Model.Organisation.Id">Detail</a>
    <h1>Generate Invoice</h1>
    <small>@Model.Organisation.Name</small>
    <hr/>
    <div class="row">
        <div class="col">
            <form method="post" asp-route-id="@Model.Organisation.Id">
                <div class="row">
                    <div class="col">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-4">
                        <div class="form-group">
                            <label asp-for="Action"></label>
                            <select class="custom-select" asp-for="Action" asp-items="@Model.ActionOptions"></select> 
                            <span asp-validation-for="Action" class="text-danger"></span>
                        </div>
                    </div>
                
                    <div class="col-4">
                        <div class="form-group">
                            <label asp-for="Month"></label>
                            <span asp-validation-for="Month" class="text-danger"></span>
                            <input class="form-control" asp-for="Month" />
                            <p>UTC</p>
                        </div>
                    </div>
               
                    <div class="col-4">
                          <div class="form-group">
                            <label asp-for="Regenerate"></label>
                            <input class="form-control" asp-for="Regenerate" />
                            <span asp-validation-for="Regenerate" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <input type="submit" value="Go" class="btn btn-primary btn-block" />
                        </div>
                    </div>
                </div>
                
            </form>
        </div>
    </div>
    @if(Model.Invoice == null)
    {
        <div class="row">
            <div class="col">
                No invoice selected
            </div>
        </div>
    }
    else
    {
        var textColour = "text-success";
        @if(@Model.Invoice.InvoiceBalance < 0)
        {
            textColour = "text-danger";
        }
        <div class="row">
            <div class="col-4">
                <h2>@Model.Invoice.Name</h2>
            </div>
            <div class="col-4 @textColour">
                Balance: @Model.Invoice.InvoiceBalance
            </div>
        </div>
        <div class="row">
            <div class="col">
                <hr/>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h4>Transactions</h4>
                @if(Model.Invoice.Transactions.Count > 0)
                {
                    @foreach(var t in Model.Invoice.Transactions)
                    {
                        @await Component.InvokeAsync("TransactionRow", new {transaction = t })
                    }
                }
                else
                {
                    <!-- Theres a bug where iterating though an empty list throws -->
                    <div>
                        No Debits
                    </div>
                }
                
            </div>
        </div>
    }
</div>