@model Amphora.Api.Pages.Shared.Components.DataRequestRowViewComponent

<div class="row align-items-center entity-item">
    <div class="col-1">
        <a asp-page="/DataRequests/Detail" asp-area="" asp-route-id="@Model.DataRequest.Id">
            <i class="far fa-question-circle fa-lg"></i>
        </a>
    </div>
    <div class="col-1 text-left">
        @if(Model.DataRequest.IsDeleted ?? false)
        {
            <i class="text-danger fas fa-lg fa-trash" data-toggle="tooltip" data-placement="top" title="Pending Deletion"></i>
        }
    </div>
    <div class="col-sm-6">
        <a class="text-dark" asp-page="/DataRequests/Detail" asp-area="" asp-route-id="@Model.DataRequest.Id">
            @Model.DataRequest.Name 
        </a>
    </div>
    <div class="d-none d-sm-block col-sm-1 text-right">
        Votes: @Model.DataRequest.UserIdVotes?.Count 
    </div>
    <div class="col-1">
        <a asp-page="/DataRequests/Detail" asp-area="" asp-route-id="@Model.DataRequest.Id"> 
            <button class="btn btn-link text-success"><i class="fas fa-info-circle"></i></button> 
        </a>
    </div>
</div>
