@page
@model Amphora.Api.Pages.Amphorae.DetailModel
@{
    ViewData["Title"] = "Amphora -";
}


<div id="main" class="container">
    <div class="row">
        <div class="col-3">
            <h2>Amphora: @Model.Amphora.Title</h2>
        </div>
        <div class="col">
            <span>
                <a asp-page="./Index"><button class="btn btn-secondary">Amphorae</button></a>
            </span>
        </div>
    </div>
    <div class="row">
        <div class="col-3">
            <div class="card mb-3">
                <div class="card-header">
                    <h5 class="card-title">Admin Pane</h5>
                </div>
                <div class="card-body">
                    <div class="container">
                        <form method="post" enctype="multipart/form-data">
                            <div class="form-group">
                                <p class="card-text">Upload file</p>
                                <input class="form-control" type="file" name="files" multiple>
                                <small class="form-text card-text text-muted">This becomes the content of the Amphora.</small>
                            </div>
                            <div class="form-group">
                                <input class="form-control" type="submit" value="Upload">
                            </div>
                        </form> 
                    </div>                                                        
                </div>
            </div>
        </div>

        <div class="col-9">
            <div class="card bg-light mb-3">
                <div class="card-header">Amphora Details</div>
                    <div class="card-body">
                        <h5 class="card-title">Description</h5>
                        <p class="card-text">@Model.Amphora.Description</p>
                    </div>
                <div class="container card-footer">
                    <div class="row">
                        <div class="col-sm">
                            $@Model.Amphora.Price 
                        </div>
                    </div>
                </div>
            </div>

            <table id="market-table" class="table">
                <thead>
                    <tr>
                    <th scope="col">Filename</th>
                    <th> Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var n in Model.Names)
                    {
                     <tr class="file-item">
                        <th scope="row">@n</th>
                        <td><a asp-route-id="@Model.Amphora.Id" asp-route-name="@n" asp-controller="Amphorae" asp-action="Download"><button class="btn btn-primary">Download</button></a></td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    
</div>
