@page
@using Amphora.Common.Models.Permissions
@model Amphora.Api.Pages.Amphorae.DetailModel
@inject Amphora.Api.Services.FeatureFlags.FeatureFlagService FeatureFlags
@{
    ViewData["Title"] = Model.Amphora.Name;
}


<div id="main" class="container">
    <div class="row mb-3 border-bottom">
        <div class="col-9">
            <h2>@Model.Amphora.Name</h2>
        </div>
        <div class="col-3">
            <span>
                <a asp-page="./Index"><button class="btn btn-secondary">Amphorae</button></a>
            </span>
        </div>
    </div>
    <div class="row">
        <div clas="col">
            
            
        </div>
    </div>
    <div class="row">     
        <div class="col">
            <div class="card bg-light mb-3">
                <div class="card-header">
                    Amphora Details
                    @if(Model.CanEditDetails)
                    {
                    <a asp-page="./Edit" asp-route-id="@Model.Amphora.AmphoraId"><i class="fas fa-edit ml-2"></i></a>
                    }
                    @{
                        var buttonMode = string.Empty;
                        if(! Model.CanBuy) { buttonMode = "disabled"; } 
                    }
                    <a asp-page="./Agreement" asp-route-id="@Model.Amphora.AmphoraId"><button class="btn btn-success" @buttonMode>Buy</button></a>
                </div>
                    <div class="card-body">
                        <h5 class="card-title">Description</h5>
                        <p class="card-text">@Model.Amphora.Description</p>
                    </div>
                <div class="container card-footer">
                    <div class="row">
                        <div class="col-sm">
                            $@Model.Amphora.Price 
                        </div>
                        <div>
                            @if(Model.CanUploadFiles)
                            {    
                            <a class="m-1 float-left" data-toggle="collapse" href="#uploadFileCollapse" role="button" aria-expanded="false" aria-controls="collapseAdvanced">
                                <i class="fas fa-upload"></i>
                            </a>
                            }
                            @if(Model.CanEditPermissions)
                            {
                            <a class="m-1 float-left" data-toggle="collapse" href="#hasPurchasedCollapse" role="button" aria-expanded="false" aria-controls="collapseAdvanced">
                                <i class="fas fa-users"></i>
                            </a>
                            }
                        </div>
                    </div>
                </div>
            </div>
            <div id="uploadFileCollapse" class="card mb-3 collapse">
                <div class="card-header">
                    <h5 class="card-title">Upload File</h5>
                </div>
                <div class="card-body">
                    <div class="container">
                        <form method="post" enctype="multipart/form-data">
                            <div class="form-group">
                                <input class="form-control-file" type="file" name="files">
                                <small class="form-text card-text text-muted">This becomes content in the Amphora.</small>
                            </div>
                            <div class="form-group">
                                <input class="form-control" type="submit" value="Upload" data-toggle="collapse" href="#isUploading">
                            </div>
                        </form> 
                        <div id="isUploading" class="progress collapse">
                            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%"></div>
                        </div>
                    </div>                                                        
                </div>
            </div>
            @if(Model.CanEditPermissions)
            {
            <div id="hasPurchasedCollapse" class="card bg-light mb-3 collapse">
                <div class="card-header">
                     <div>
                        <a class="float-right" asp-route-id="@Model.Amphora.AmphoraId" asp-page="./Invite">
                            <i class="fas fa-user-plus"></i>
                        </a>
                    </div>
                    <h5 class="card-title">Has Purchased</h5>
                </div>
                <ul class="list-group">
                @foreach (var a in Model.HasPurchased)
                {
                    var d = new Dictionary<string, string>{ {"userName", a.UserName} };
                    
                    <li> 
                        <i class="far fa-user mr-2" data-toggle="tooltip" data-placement="top" title="@a.UserName"></i> 
                        <a asp-page="/Profile/Detail" asp-all-route-data=@d > @a.UserName </a>
                    </li>
                }
                </ul>
            </div>
            }
            
        </div>
    </div>
    <div>
        <table id="file-table" class="table">
            <thead>
                <tr>
                <th scope="col">Filename</th>
                <th> Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var n in Model.Names)
                {
                <tr class="file-item">
                    <th scope="row">@n</th>
                    <td><a asp-route-id="@Model.Amphora.AmphoraId" asp-route-name="@n" asp-page="./File"><button class="btn btn-primary">Download</button></a></td>
                </tr>
                }
            </tbody>
        </table>
    </div>
    @if(FeatureFlags.IsEnabled("signals"))
    {
    <div class="row">
        <div class="col">
            <h3>Signals</h3>
            <small>This week</small>
        </div>
        <div id="chart" style="width: 100%; height: 400px; margin-top: 40px; float: left;"></div>
    </div>
    }

</div>


@section Scripts {
    @if(FeatureFlags.IsEnabled("signals"))
    {
    <script src="https://unpkg.com/tsiclient@1.2.24/tsiclient.js"></script>
    <script src="~/js/tsi.js"></script>

    <script>
        var cols = @Html.Raw(@Newtonsoft.Json.JsonConvert.SerializeObject(Model.Domain.GetDatumMembers()));
        var response = @Html.Raw(@Model.QueryResponse);
        tsi(cols, response)
    </script>
    }

     <script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })
    </script>
}
