@page
@model Amphora.Api.Pages.Amphorae.IndexModel
@{
    ViewData["Title"] = "Amphorae";
}

<div id="main" class="container">
    <div class="row main-header">
        <div class="col">
            <span>
                <h1 class="display-4">Amphoræ</h1>
                <a asp-page="/amphorae/create"><button class="btn btn-primary">Create</button></a>
            </span>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <div class="card mb-3">
                <div class="card-header">
                    <h5 class="card-title">View Options</h5>
                </div>
                <div class="card-body">
                    @{
                        var thisUrl = Url.Content("~");
                        var mineUrl = $"{thisUrl}?viewType=mine";
                        var orgUrl = $"{thisUrl}?viewType=org";
                        var purchasedUrl = $"{thisUrl}?viewType=purchased";
                        string mine = string.Empty;
                        string org = string.Empty;
                        string pur = string.Empty;
                        if (string.Equals(Model.ViewType, "mine" )) {mine = "active";}
                        if( string.Equals(Model.ViewType, "org" )) {org = "active";}
                        if( string.Equals(Model.ViewType, "purchased" )){ pur = "active";}
                    }
                    <a href="@mineUrl">
                        <button type="button" class="m-1 btn btn-light btn-block @mine">Mine</button>
                    </a>                              
                    <a href="@orgUrl">
                        <button type="button" class="m-1 btn btn-light btn-block @org">My Org</button>
                    </a>
                    <a href="@purchasedUrl">
                        <button type="button" class="m-1 btn btn-light btn-block @pur">Purchased</button>
                    </a>
                </div>
            </div>
        </div>
        <div class="col">
            <table id="entity-table" class="table table-borderless table-striped">
                <thead>
                    <tr>
                    <th scope="col"></th>
                    <th scope="col">Name</th>
                    <th scope="col">Price ($)</th>
                    <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var entity in Model.Amphorae)
                    {
                     <tr class="entity-item">
                        <th scope="row">
                            <img class="h-100 img-fluid" src="~/images/amphora_bullet.png">
                        </th>
                        <td> @entity.Name </td>
                        <td>@entity.Price</td>
                        <td>  
                            <a asp-page="/Amphorae/Detail" asp-route-id="@entity.Id"> 
                                <button class="btn btn-link text-success"><i class="fas fa-info-circle"></i></button> 
                            </a>
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

