@page
@model Amphora.Api.Pages.Amphorae.IndexModel
@{
    ViewData["Title"] = "Amphorae";
}

<div id="main" class="container">
    <div class="row main-header">
        <div class="col">
            <span>
                <h1 class="display-4">Amphoræ</h1>
                <a asp-page="/amphorae/create"><button class="btn btn-primary">Create</button></a>
            </span>
        </div>
    </div>
    <div class="row">
        <div class="col-4">
            <div class="card mb-3">
                <div class="card-header">
                    <h5 class="card-title">Information</h5>
                </div>
                <div class="card-body">
                    <p>
                        <em>Amphorae</em> are a simple method of storing and trading data. A single Amphora contains a single file.
                    </p>                                       
                </div>
            </div>
        </div>
        <div class="col">
            <table id="entity-table" class="table table-borderless table-striped">
                <thead>
                    <tr>
                    <th scope="col">Amphora Name</th>
                    <th scope="col">Description</th>
                    <th scope="col">Domain</th>
                    <th scope="col">Price ($)</th>
                    <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var entity in Model.Amphorae)
                    {
                     <tr class="entity-item">
                        <th scope="row"> @entity.Title </th>
                        <td>@entity.Description</td>
                        <td>@entity.DomainId</td>
                        <td>@entity.Price</td>
                        <td>  
                            <a asp-page="/Amphorae/Detail" asp-route-id="@entity.Id"> 
                                <button class="btn btn-link text-success"><i class="fas fa-info-circle"></i></button> 
                            </a>
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

