@page
@model Amphora.Api.Pages.Profile.DetailModel
@{
    ViewData["Title"] = "Home Page";
}

<div id="main" class="container">
    <div class="row">
        <div class="col-4">
            <div id="user-info-card" class="card mb-3">
                <div class="card-body">
                    <div class="text-center mb-3">
                        <img src="@Model.AppUser.GetProfilePictureUri().ToString()?s=180" />
                    </div>
                    <div class="w-100"><strong>@Model.AppUser.FullName</strong></div>
                    <div class="w-100 mb-2"><small>@Model.AppUser.UserName </small></div>

                    <span><button style="width: 100%;" class="btn btn-light mb-3 mx-auto">Follow</button></span>
                    <p>@Model.AppUser.About</p>
                    <p><i class="fas fa-user-friends mr-1"></i>@Model.Organisation.Name</p>                   
                </div>
            </div>
        </div>
        <div class="col-8">
           <div>
               @if(Model.IsSelf)
               {
                <a class="float-right" asp-page="./Edit"><i class="fas fa-user-edit"></i></a>
               }
               <h4>Overview</h4>
               <p><small>Pinned</small></p>
               <!-- Grid of pinned Amphora -->
               <div class="container">
                   <table id="entity-table" class="table table-borderless table-striped">
                        <thead>
                            <tr>
                            <th scope="col"></th>
                            <th scope="col">Name</th>
                            <th scope="col">Price ($)</th>
                            <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var entity in Model.PinnedAmphorae)
                            {
                            <tr class="entity-item">
                                <th scope="row">
                                    <img class="h-100 img-fluid" src="~/images/amphora_bullet.png">
                                </th>
                                <td> @entity.Name </td>
                                <td>@entity.Price</td>
                                <td>  
                                    <a asp-page="/Amphorae/Detail" asp-route-id="@entity.AmphoraId"> 
                                        <button class="btn btn-link text-success"><i class="fas fa-info-circle"></i></button> 
                                    </a>
                                </td>
                            </tr>
                            }
                        </tbody>
                    </table>
               </div>
           </div>
        </div>
    </div>
</div>

