@model Amphora.Api.Pages.Shared.Components.GitHubIssueRowViewComponent
@using Westwind.AspNetCore.Markdown

@{
    var collapseDivId = $"bodyCollapse{Model.Issue.Id}";
}
<div class="row">
    <div class="col-8 text-truncate">
        @Model.Issue.Title
    </div>
    <div class="col-2">
        <div>
            <button class="btn btn-link btn-block float-left" data-toggle="collapse" href="#@collapseDivId" role="button" aria-expanded="false" aria-controls="bodyCollapse">
                Show/Hide
            </button>
        </div>
    </div>
    <div class="col-2 text-right">
        <a href="@Model.Issue.HtmlUrl" target="_blank"><i class="fab fa-lg fa-github"></i></a>
    </div>
</div>
<div class="row">
    <div id="@collapseDivId" class="col collapse card mb-1">
        <div class="card-body">
            @Markdown.ParseHtmlString(Model.Issue.Body)
            <a href="@Model.Issue.HtmlUrl" target="_blank" class="btn btn-primary float-right">View on GitHub</a>
        </div>
    </div>
</div>