@using System.Security.Claims
@using Microsoft.Extensions.Configuration
@using Microsoft.Extensions.Options
@using Amphora.Common.Contracts
@using Amphora.Common.Extensions
@using Amphora.Common.Models.Options

@inject IConfiguration Configuration
@inject IUserService UserService
@inject IOptionsMonitor<ExternalServices> ExternalServices

@{
    Func<ClaimsPrincipal, Task<string>> profileUrl = (p) => Task.FromResult(p.GetProfilePictureUri()?.ToString()+"?s=180");
    Func<ClaimsPrincipal, Task<bool>> isAdminGlobal = async (p) => (await UserService.ReadUserModelAsync(User))?.IsAdminGlobal() ?? false;
    var protocol = Context.Request.IsHttps ? "https" : "http";
    var returnUrl = $"{protocol}://{Context.Request.Host}/Challenge";
    string registerUrl = $"{ExternalServices.CurrentValue.IdentityBaseUrl}/Account/Register?returnUrl={returnUrl}";
    
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="icon" type="image/x-icon" href="~/_content/sharedui/favicon.ico" />
    <link rel="shortcut icon" type="image/x-icon" href="~/_content/sharedui/favicon.ico" />

    <environment include="Development">
        <link rel="stylesheet" href="~/_content/sharedui/lib/font-awesome/css/all.css" />
        <link rel="stylesheet" href="~/_content/sharedui/lib/bootstrap/dist/css/bootstrap.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/_content/sharedui/lib/font-awesome/css/all.min.css" />
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
            asp-fallback-href="~/_content/sharedui/lib/bootstrap/dist/css/bootstrap.min.css"
            asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute"
            crossorigin="anonymous"
            integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"/>
    </environment>



    <link rel="stylesheet" href="~/_content/sharedui/css/amphoradata.css" />
    <link rel="stylesheet"  href="https://fonts.googleapis.com/css?family=Fjalla+One&display=swap" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@@tarekraafat/autocomplete.js@@7.2.0/dist/css/autoComplete.min.css">
    
    @* Time Series Insights *@
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/tsiclient@1.3.5/tsiclient.css">
    <script src="https://unpkg.com/tsiclient@1.3.5/tsiclient.js"></script>

    @Html.Raw(JavaScriptSnippet.FullScript)
    @RenderSection("Styles", required: false)
</head>
<body>
    @await Html.PartialAsync("_Header", new Amphora.SharedUI.Models.HeaderModel(profileUrl, isAdminGlobal, registerUrl ))

    <div class="container">
        <partial name="_CookieConsentPartial" />
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    @await Html.PartialAsync("_Footer", new Amphora.SharedUI.Models.FooterModel(Configuration["STACK"], Configuration["Version"], Configuration["SOURCEVERSION"]));

    <environment include="Development">
        <script src="~/_content/sharedui/lib/jquery/dist/jquery.js"></script>
        <script src="~/_content/sharedui/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
        <script src="~/lib/color-scheme/color-scheme.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"
                asp-fallback-src="~/_content/sharedui/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=">
        </script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"
                asp-fallback-src="~/_content/sharedui/lib/bootstrap/dist/js/bootstrap.bundle.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o">
        </script>
        <script src="~/lib/color-scheme/color-scheme.min.js"></script>
    </environment>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
