@model Amphora.SharedUI.Pages.Shared.MasterNavigationPaneViewComponent

@{
    string masterActiveClass = Model.Index.IsActive ? "btn-primary" : "btn-secondary";
}

<div class="card">
  <ul class="list-group list-group-flush">
    <li class="list-group-item">
        <a class="btn btn-block @masterActiveClass" asp-page="@Model.Index.Path">@Model.Index.Name</a>
    </li>
    <li class="list-group-item">
    @foreach(var p in Model.Pages)
    {
        string activeClass = p.IsActive ? "btn-primary" : "btn-secondary";
       
            <a class="btn btn-block @activeClass" asp-page="@p.Path">@p.Name</a>
    }
    </li>
  </ul>
</div>
