@page
@model Amphora.Api.Pages.Organisations.DetailModel
@{
    ViewData["Title"] = "Home Page";
}

<div id="main" class="container">
    <div class="row">
        <div class="col-4">
            <div id="user-info-card" class="card mb-3">
                <div class="card-body">
                    <div class="text-center mb-3">
                        @{var profilePicture = $"/api/organisations/{Model.Organisation.OrganisationId}/profile.jpg" ;}
                        <img src="@profilePicture" class="img-fluid"/>
                    </div>
                    <div class="w-100"><strong>@Model.Organisation.Name</strong></div>

                    <span><button style="width: 100%;" class="btn btn-light mb-3 mx-auto">Follow</button></span>
                    @if (@Model.CanInvite)
                    {
                        <span><a asp-page="./Invite"> <button style="width: 100%;" class="btn btn-light mb-3 mx-auto">Invite</button></a></span>
                    }
                    @if (@Model.CanAcceptInvite)
                    {
                        <span><a asp-asp-controller="./Invite"> <button style="width: 100%;" class="btn btn-light mb-3 mx-auto">Invite</button></a></span>
                    }
                    <p>@Model.Organisation.About</p>                 
                </div>
            </div>
            @if(Model.CanViewMembers)
            {
            <div class="card mb-3">
                <div class="col card p-2">
                    <div> 
                        <a class="float-right" asp-page="./Invite"><i class="fas fa-user-plus"></i> </a>
                        <h3>Members</h3>
                    </div>
                    <ul>
                    @foreach (var m in Model.Organisation.Memberships)
                    {
                        @if(m.Role == Amphora.Common.Models.Organisations.Roles.Administrator)
                        {
                            <li> <i class="fas fa-user mr-2" data-toggle="tooltip" data-placement="top" title="Administrator"></i> @m.UserName </li>
                        }
                        else
                        {
                            <li> <i class="far fa-user mr-2" data-toggle="tooltip" data-placement="top" title="User"></i> @m.UserName </li>
                        }
                    }
                    </ul>
                </div>
            </div>
            }
        </div>
        <div class="col-8">
           <div>
               @if(Model.CanEdit)
               {
                <a class="float-right" asp-page="./Edit"><i class="fas fa-user-edit"></i></a>
               }
               <h4>Overview</h4>
               <p><small>Pinned (Top 6)</small></p>
               <!-- Grid of pinned Amphora -->
               <div class="container">
                   <table id="entity-table" class="table table-borderless table-striped">
                        <thead>
                            <tr>
                            <th scope="col"></th>
                            <th scope="col">Name</th>
                            <th scope="col">Price ($)</th>
                            <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var entity in Model.PinnedAmphorae)
                            {
                            <tr class="entity-item">
                                <th scope="row">
                                    <img class="h-100 img-fluid" src="~/images/amphora_bullet.png">
                                </th>
                                <td> @entity.Name </td>
                                <td>@entity.Price</td>
                                <td>  
                                    <a asp-page="/Amphorae/Detail" asp-route-id="@entity.AmphoraId"> 
                                        <button class="btn btn-link text-success"><i class="fas fa-info-circle"></i></button> 
                                    </a>
                                </td>
                            </tr>
                            }
                        </tbody>
                    </table>
               </div>
           </div>
        </div>
    </div>
    
</div>

@section Scripts {
    <script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })
    </script>
}

