@page
@model Amphora.Api.Areas.Organisations.Pages.Account.IndexModel

@{
    ViewData["Title"] = "Org Account";
}

<div class="container">
    <div class="row">
        <div class="col">
            <h3>Your Account</h3>
            <p>This is the account for the Organisation: @Model.Organisation.Name</p>
            <hr/>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 master">
            <partial name="_AccountMasterNavPartial" />
        </div>

        <div class="col-md-9 detail">
            @if(Model.Invitation != null)
            {
                <div class="alert alert-primary">
                    You have an Open Invitation to join @Model.Invitation.TargetOrganisation.Name
                    <a asp-area="Organisations" asp-page="/Join" asp-route-id="@Model.Invitation.TargetOrganisationId" class="ml-3 btn btn-primary w-25">
                        View
                    </a>
                </div>
            }
            <h5>Account Details</h5>
            <br/>
            <p>
                Account Name: @Model.Organisation.Name
            </p>
            <p>
                Created By: @Model.Organisation.CreatedBy.UserName
            </p>
            <p>
                Account Id: @Model.Organisation.Id
            </p>
            <p>
                Balance: $@(Model.Organisation.Account?.Balance ?? 0)
            </p>
        </div>
    </div>
</div>
