@page
@model Amphora.Api.Areas.Organisations.Pages.Account.MembersPageModel


<div id="main" class="container">
    <div class="row">
        <div class="col">
            <h3>Members</h3>
            <p>The members of your organisation.</p>
            <hr/>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 master">
            <partial name="_AccountMasterNavPartial" />
        </div>
        <div class="col-md-9 detail">
            <div class="text-right">
                <a class="btn btn-primary" asp-page="./Invite">Invite Member</a>
            </div>
            <table id="members-table" class="table table-borderless table-striped">
                <thead>
                    <tr>
                    <th scope="col">Name</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var m in Model.Organisation.Memberships)
                    {
                     <tr class="entity-item">
                        <th scope="row"> 
                            @if(m.Role == Amphora.Common.Models.Organisations.Roles.Administrator)
                            {
                                <li> <i class="fas fa-user mr-2" data-toggle="tooltip" data-placement="top" title="Administrator"></i> 
                                    <a asp-area="Profiles" asp-page="/Account/Detail" asp-route-id="@m.UserId">@m.User?.UserName </a>
                                </li>
                            }
                            else
                            {
                                <li> <i class="far fa-user mr-2" data-toggle="tooltip" data-placement="top" title="User"></i> 
                                    <a asp-area="Profiles" asp-page="/Account/Detail" asp-route-id="@m.UserId">@m.User?.UserName </a>
                                </li>
                            } 
                        </th>
                        <td>
                            <div class="float-right">

                                <a asp-page="./SetRole" asp-route-userId="@m.UserId" asp-route-id="@Model.Organisation.Id" asp-route-role="admin"> 
                                    <i class="fas fa-crown" data-toggle="tooltip" data-placement="top" title="Make Admin"></i>
                                </a>
                                <a asp-area="Profiles" asp-page="/Account/Detail" asp-route-id="@m.UserId"> 
                                    <i class="fas fa-info-circle" data-toggle="tooltip" data-placement="top" title="Info"></i>
                                </a>
                            </div>
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })
    </script>
}