<div class="row">
    <div class="col-9">
        <h4>@Model.Amphora.Name</h4>
        <div>
            <p>
                Created by 
                <a asp-area="Organisations" asp-page="/Detail" asp-route-id="@Model.Amphora.CreatedBy.OrganisationId">
                    @Model.Amphora.CreatedBy.Organisation?.Name
                </a>
            </p>
        </div>
    </div>
    <div class="col-3 text-right">
        @{string enableBuyClass = Model.CanBuy ? "" : "disabled";}
        <a class="btn btn-success btn btn-block m-1 @enableBuyClass" asp-area="Amphorae" asp-page="/Purchase" asp-route-id="@Model.Amphora.Id">
            Buy
            <span class="badge badge-light ml-2">$@Model.Amphora.Price</span>
            <span class="sr-only">dollars per month</span>
        </a>
    </div>
</div>
@if(Model.Purchase != null)
{
    <div class="row">
        <div class="col text-right">
            <small class="text-success text-wrap">Purchased by @Model.Purchase.PurchasedByUser.UserName on @Model.Purchase.CreatedDate?.ToString("dd MMM yy")</small>
        </div>
    </div>
}