<div class="row">
        <div class="col-9">
            <h5>@Model.Amphora.Name</h5>
            <div>
                <p class="float-right">
                    $@Model.Amphora.Price per month
                </p>
                <p>
                    Created by 
                    <a asp-area="Organisations" asp-page="/Detail" asp-route-id="@Model.Amphora.CreatedBy.OrganisationId">
                        @Model.Amphora.CreatedBy.Organisation?.Name
                    </a>
                </p>
            </div>
        </div>
        <div class="col-3">

            @if(Model.Purchase != null || Model.CanEditDetails)
            {
                <div id="alreadyPurchasedActions" class="text-right">
                    <div>
                        <a class="btn btn-light btn-sm btn-block m-1" asp-area="Amphorae" asp-page="/Signals/Index" asp-route-id="@Model.Amphora.Id">Signals (@Model.SignalCount)</a>
                        <a class="btn btn-light btn-sm btn-block bm-1" asp-area="Amphorae" asp-page="/Files/Index" asp-route-id="@Model.Amphora.Id">Files (@Model.FileCount)</a>
                    </div>
                    @if(Model.Purchase != null)
                    {
                        <div>
                            <small class="text-success">Purchased by @Model.Purchase.PurchasedByUser.UserName on @Model.Purchase.CreatedDate.Value.ToString("dd MMM yy")</small>
                        </div>
                    }
                </div>
            }
            else if(Model.CanBuy)
            { 
                <div id="yetToPurchaseActions">
                    <a asp-page="./Purchase" asp-route-id="@Model.Amphora.Id"><button class="btn btn-success btn-sm btn-block m-1">Buy</button></a>
                </div>
            }

        </div>
    </div>