@model Amphora.Api.Pages.Shared.Components.RestrictionRowViewComponent

@{
    var bgClass = "";
    if(Model.Index > 0 && Model.Index%2 == 1)
    {
        bgClass = "bg-light";
    }
}
<div class="row @bgClass">
    <div class="col-1 text-danger">
        <i class="fas fa-ban"></i>
    </div>
    <div class="col">
        @if(Model.Restriction.Scope == null || Model.Restriction.Scope == Amphora.Common.Models.Permissions.RestrictionScope.Organisation)
        {
            <p>
                Inherited from Organisation 
            </p>
        }
        else
        {
            <p>
                On Amphora: <a asp-area="Amphorae" asp-page="/Detail" asp-route-id="@Model.Restriction.SourceAmphoraId" >
                    @Model.Restriction.SourceAmphora?.Name
                </a>
            </p>
        }
    </div>
    <div class="col-4">
        Targeting: 
        <a asp-area="Organisations" asp-page="/Detail" asp-route-id="@Model.Restriction.TargetOrganisationId">
            @Model.Restriction.TargetOrganisation.Name
        </a>
    </div>
    <div class="col-1 order-12">
        <a asp-page="./Delete" asp-route-targetOrganisationId="@Model.Restriction.TargetOrganisationId" class="btn btn-link text-danger">
            <i class="fas fa-times-circle"></i>
        </a> 
    </div>
</div>
