@page
@model Amphora.Api.Areas.Admin.Pages.Accounts.Detail.LimitsPageModel

@{
    ViewData["Title"] = "Account Configuration";
}

<div class="container">
    <div class="row">
        <div class="col">
            <a class="float-right btn btn-primary" asp-page="../Index">Admin Home</a>
            <h3>Limits</h3>
            <p> For @Model.Org?.Name.</p>
            <hr/>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 master">
            <partial name="_AdminAccountDetailMasterNavPartial" />
        </div>

        <div class="col-md-9 detail">
            <div class="row">
                <div class="col-3">
                    <h6>Current File Size</h6>
                     @Model.Org.Cache?.TotalAmphoraeFileSize?.Value bytes
                </div>
                <div class="col-3">
                    <h6>Fraction of Limit</h6>
                    @(Model.Org.Cache?.TotalAmphoraeFileSize?.Value / Model.Limits.MaxStorageInBytes )
                </div>
                <div class="col-3">
                    <h6>Calculated on</h6>
                    @(Model.Org?.Cache?.TotalAmphoraeFileSize?.LastUpdatedNotNull.ToString("d") ?? "never")
                </div>
                <div class="col-md-3">
                    <form method="post" asp-page-handler="CalculateFileSize" asp-route-id="@Model.Org.Id">
                        <input type="submit" value="Calculate File Size" class="btn btn-primary" />
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>