@page
@model Files.EditMetadataPageModel

@{
    ViewData["Title"] = "File Attributes";
}

<div class="container">
    <div class="row">
        <div class="col">
            <h2>Edit Attributes</h2>
            <p>@Model.Name</p>
        </div>
        <div class="col">
            <form method="post" asp-route-id="@Model.Amphora?.Id" asp-route-name="@Model.Name">
                <input id="metadataInput" type="hidden" name="meta">
                <input class="btn btn-success float-right" type="submit" value="Save">
            </form>
        </div>
    </div>
    <hr/>
    <div class="row">
        <div class="col">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        </div>
    </div>
    <div id="metaContainer">
    </div>
</div>

<button class="btn btn-primary" onClick="addMetaDataRow()"> New Attribute</button>

@section Scripts {
    <script src="~/js/attributeEditor.js"></script>
    <script>
        meta = @Html.Raw(@Newtonsoft.Json.JsonConvert.SerializeObject(Model.Meta));
        attributeEditor(meta, "metaContainer", "metadataInput" )
    </script>
}