@page
@model Amphora.Api.Areas.Admin.Pages.DashboardPageModel

@{
    ViewData["Title"] = "Admin Dashboard";
}

<div class="container">
    <div class=row>
        <div class="col m-3">
            <div class="alert alert-secondary" role="alert">
                Values are cached, and Active is relative to @Model.MonthAgo.ToShortDateString()
            </div>
        </div>
    </div>

    <div class="row m-1">
        <div class="col-sm-3">
            <div class="card bg-light" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Users</h5>
                </div>
            </div>
        </div>
        <div class="col-3">                                     
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Total</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Count</h6>
                    <p class="card-text">@Model.Stats.Users.TotalCount</p>
                </div>
            </div>
        </div>
        <div class="col-3">                                     
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Active</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Count</h6>
                    <p class="card-text">@Model.Stats.Users.TotalActive</p>
                </div>
            </div>
        </div>
    </div>

    <div class="row m-1">
        <div class="col-sm-3">
            <div class="card bg-light" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Organisations</h5>
                </div>
            </div>
        </div>
        <div class="col-2">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Total</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Count</h6>
                    <p class="card-text">@Model.Stats.Organisations.TotalCount</p>
                </div>
            </div>
        </div>
        <div class="col-2">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Active</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Count</h6>
                    <p class="card-text">@Model.Stats.Organisations.TotalActive</p>
                </div>
            </div>
        </div>
        <div class="col-2">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Aggregate Balance</h5>
                    <h6 class="card-subtitle mb-2 text-muted">$</h6>
                    <p class="card-text">@Model.Stats.Organisations.AggregateBalance?.ToString("C")</p>
                </div>
            </div>
        </div>
        <div class="col-2">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Mean Balance</h5>
                    <h6 class="card-subtitle mb-2 text-muted">$</h6>
                    <p class="card-text">@Model.Stats.Organisations.MeanBalance?.ToString("C")</p>
                </div>
            </div>
        </div>
    </div>

    <div class="row m-1">
        <div class="col-sm-3">
            <div class="card bg-light" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Amphorae</h5>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Total (total not this org)</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Count</h6>
                    <p class="card-text">@Model.Stats.Amphorae.TotalCount (@Model.Stats.Amphorae.TotalNotThisOrg )</p>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Active</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Count</h6>
                    <p class="card-text">@Model.Stats.Amphorae.ActiveCount</p>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Mean Price of Active</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Dollars</h6>
                    <p class="card-text">@Model.Stats.Amphorae.MeanActivePrice?.ToString("C")</p>
                </div>
            </div>
        </div>
    </div>

    <div class="row m-1">
        <div class="col-sm-3">
            <div class="card bg-light" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Signals</h5>
                </div>
            </div>
        </div>
        <div class="col-2">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Total</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Count</h6>
                    <p class="card-text">@Model.Stats.Signals.TotalCount</p>
                </div>
            </div>
        </div>
        <div class="col-2">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Unique</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Count</h6>
                    <p class="card-text">@Model.Stats.Signals.TotalUniqueCount</p>
                </div>
            </div>
        </div>
    </div>
    
    <div class="row m-1">
        <div class="col-sm-3">
            <div class="card bg-light" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Debits</h5>
                </div>
            </div>
        </div>
        <div class="col-3">                                     
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Total</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Count</h6>
                    <p class="card-text">@Model.Stats.Debits.TotalCount</p>
                </div>
            </div>
        </div>
        <div class="col-3">                                     
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Active</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Count</h6>
                    <p class="card-text">@Model.Stats.Debits.ActiveCount</p>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Mean Price of Active</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Dollars</h6>
                    <p class="card-text">@Model.Stats.Debits.MeanActivePrice?.ToString("C")</p>
                </div>
            </div>
        </div>
    </div>

    <div class="row m-1">
        <div class="col-sm-3">
            <div class="card bg-light" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Purchases</h5>
                </div>
            </div>
        </div>
        <div class="col-3">                                     
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Total</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Count</h6>
                    <p class="card-text">@Model.Stats.Purchases.TotalCount</p>
                </div>
            </div>
        </div>
        <div class="col-3">                                     
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Active</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Count</h6>
                    <p class="card-text">@Model.Stats.Purchases.ActiveCount</p>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Mean Price of Active</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Dollars</h6>
                    <p class="card-text">@Model.Stats.Purchases.MeanActivePrice?.ToString("C")</p>
                </div>
            </div>
        </div>
    </div>

    <div class="row m-1">
        <div class="col-sm-3">
            <div class="card bg-light" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Commissions</h5>
                </div>
            </div>
        </div>
        <div class="col-3">                                     
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Total</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Count</h6>
                    <p class="card-text">@Model.Stats.Commissions.TotalCount</p>
                </div>
            </div>
        </div>
        <div class="col-3">                                     
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Active</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Count</h6>
                    <p class="card-text">@Model.Stats.Commissions.ActiveCount</p>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Mean Price of Active</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Dollars</h6>
                    <p class="card-text">@Model.Stats.Commissions.MeanActivePrice?.ToString("C")</p>
                </div>
            </div>
        </div>
    </div>

    <div class="row justify-content-end m-3">
        <div class="col-2">
            <small>Generated at @Model.Stats?.GeneratedTime?.ToString("t")</small>
        </div>
    </div>
</div>