@page
@model Amphora.Api.Areas.Organisations.Pages.TermsOfUse.DetailModel

@{
    ViewData["Title"] = $"T&C: {Model.TermsOfUse.Name}";
}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-8">
            <div class="m-3 card">
                <div class="card-header">
                    <div>

                    @Model.TermsOfUse.Name <small class="float-right"> by 
                        <a asp-page="../Detail" asp-route-id="@Model.Organisation.Id">@Model.Organisation.Name</a>
                        </small>
                    </div>
                    <small>
                        Id: @Model.TermsOfUse.Id
                    </small>
                </div>
                <div class="card-body">
                    <span style="white-space: pre-line">@Model.TermsOfUse.Contents</span>
                </div>
            </div>
            @if(Model.CanAccept)
            {
            <form method="post" asp-route-returnUrl="@Model.ReturnUrl" 
                                asp-route-id="@Model.Organisation.Id" 
                                asp-route-tncId="@Model.TermsOfUse.Id">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <button class="btn btn-success btn-block">Accept</button>
            </form>
            }
            <a asp-area="Organisations" asp-page="/TermsOfUse/Index" asp-route-id="@Model.Organisation.Id">
                <button class="mt-1 btn btn-secondary btn-block">View All</button>
            </a>
        </div>
    </div>
</div>
